name: Build Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: '21'

    - name: Build with Maven (skip tests)
      run: mvn -B clean verify -DskipTests
